{% load staticfiles %}
{% static "" as img %}
<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
<!--         <link rel="icon" href="{% static 'img/fav-icon.png' %}" type="image/x-icon" />
 -->        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title></title>

        <!-- Icon css link -->
<!-- 		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
 -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/linearicons/style.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/flat-icon/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/stroke-icon/style.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/animate-css/animate.css' %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/datetime-picker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/nice-select/css/nice-select.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/magnifc-popup/magnific-popup.css' %}" rel="stylesheet">
        
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!--================Main Header Area =================-->
		<header class="box_header_four">
			<div class="box_menu_four">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<a class="navbar-brand" href="index.html">
                           
                           Block chain based shopping
                        </a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="my_toggle_menu">
                            	<span></span>
                            	<span></span>
                            	<span></span>
                            </span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav justify-content-end">
								<li class="dropdown submenu active">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
	
								</li>
							
								<li><a href="{% url 'login_page' %}">Login</a></li>
                                <li><a href="{% url 'shop_register_page' %}">Manufacturer Register</a></li>
                                <li><a href="{% url 'ser_register_page' %}">Seller Register</a></li>
                                <li><a href="{% url 'register_page' %}">Customer register</a></li>
					<!-- 			<li class="search_icon"><a class="popup-with-zoom-anim" href="#test-search"><i class="icon icon-Search"></i></a></li> -->
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
        <!--================End Main Header Area =================-->
        
        <!--================Slider Area =================-->
        <section class="main_slider_area">
            <div id="main_slider4" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-9.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'img/home-slider/blockchain1.jpg' %}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text pink" 
                            data-x="['right','right','left','15','15','15']" data-hoffset="['-150','0','15','15','15','0']" 
                            data-y="['top','top','top','top']" 
                            data-voffset="['320','320','320','245','200']" 
                            data-fontsize="['60','60','60','40','30']"
                            data-lineheight="['76','76','76','50','40']"
                            data-width="['780','740','780','780','700','400']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']"><br /></div>
                            
                            <div class="tp-caption tp-resizeme secand_text black" 
                                data-x="['right','right','left','15','15','15']" 
                                data-hoffset="['0','110','15','15','15','0']" 
                                data-y="['top','top','top','top']" data-voffset="['485','485','485','360','300','290']"  
                                data-fontsize="['20','20','20','20','16']"
                                data-lineheight="['28','28','28','28']"
                                data-width="['620','620','620','620','500','400']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            </div>
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                data-x="['right','right','left','15','15','15']" data-hoffset="['0','0','15','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['575','575','575','450','390']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="['620','740','620','620','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <!-- <a class="main_btn" href="#">Purchase now</a> -->
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-10.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'img/home-slider/slider-10.jpg' %}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text pink" 
                            data-x="['right','right','right','15','0']" data-hoffset="['-150','-150','-150','0']" 
                            data-y="['top','top','top','top']" 
                            data-voffset="['320','320','320','320','130']" 
                            data-fontsize="['60','60','60','40','30']"
                            data-lineheight="['76','76','76','50','40']"
                            data-width="['780','780','780','400']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">We ... <br /> are with your wish</div>
                            
                            <div class="tp-caption tp-resizeme secand_text black" 
                                data-x="['right','right','right','15','0']" 
                                data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['485','485','485','485','225']"  
                                data-fontsize="['20','20','20','20','16']"
                                data-lineheight="['28','28','28','28']"
                                data-width="['620','620','620','620','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                data-x="['right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['575','575','575','575','330']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="['620','620','620','620','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="main_btn" href="#">Purchase now</a>
                            </div>
                        </div>
                    </li>
                    <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-11.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'img/home-slider/slider-11.jpg' %}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme first_text pink" 
                            data-x="['right','right','right','15','0']" data-hoffset="['-150','-150','-150','0']" 
                            data-y="['top','top','top','top']" 
                            data-voffset="['320','320','320','320','130']" 
                            data-fontsize="['60','60','60','40','30']"
                            data-lineheight="['76','76','76','50','40']"
                            data-width="['780','780','780','400']"
                            data-height="none"
                            data-whitespace="normal"
                            data-type="text" 
                            data-responsive_offset="on" 
                            data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                            data-textAlign="['left','left','left','left']">Find... <br /> your Desired Mobile</div>
                            
                            <div class="tp-caption tp-resizeme secand_text black" 
                                data-x="['right','right','right','15','0']" 
                                data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['485','485','485','485','225']"  
                                data-fontsize="['20','20','20','20','16']"
                                data-lineheight="['28','28','28','28']"
                                data-width="['620','620','620','620','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                            </div>
                            
                            <div class="tp-caption tp-resizeme slider_button" 
                                data-x="['right','right','right','15','0']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['575','575','575','575','330']" 
                                data-fontsize="['14','14','14','14']"
                                data-lineheight="['46','46','46','46']"
                                data-width="['620','620','620','620','300']"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text" 
                                data-responsive_offset="on" 
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                                <a class="main_btn" href="#">Purchase now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->
        
        <!--================Welcome Area =================-->
     
        <!--================End Welcome Area =================-->
        
        <!--================Cake Feature Four Area =================-->
        <section class="cake_feature_four">
        	<div class="container">
        		<div class="cake_feature_inner">
        			<div class="main_title">
						<h2>Welcome to our Shop</h2>
						
					</div>
       				<div class="cake_feature_slider owl-carousel">

                        {% for i in obj %}
                        <div class="item">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="{{img}}product_image/{{i.image}}" alt="">
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="item">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="{% static 'img/cake-feature/c-feature-2.jpg' %}" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="{% static 'img/cake-feature/c-feature-3.jpg' %}" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="cake_feature_item">
                                <div class="cake_img">
                                    <img src="{% static 'img/cake-feature/c-feature-4.jpg' %}" alt="">
                                </div>
                                
                            </div>
                        </div> -->
                    </div>
        		</div>
        	</div>
        </section>
        <!--================End Cake Feature Four Area =================-->
        
        <!--================Bakery Video Area =================-->

        <!--================End Bakery Video Area =================-->
        
        <!--================Discover Menu Area =================-->

        <!--================End Discover Menu Area =================-->
        
        <!--================Client Says Area =================-->
     
        <!--================End Client Says Area =================-->
        
        <!--================Latest News Area =================-->
   
        <!--================End Latest News Area =================-->
        
        <!--================Newsletter Area =================-->
   
        <!--================End Newsletter Area =================-->
        
        <!--================Footer Area =================-->
          {% include 'footer.html' %}
        <!--================End Footer Area =================-->
        
        
        <!--================Search Box Area =================-->
        
        <!--================End Search Box Area =================-->
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        <!-- Extra plugin js -->
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'vendors/magnifc-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendors/datetime-picker/js/moment.min.js' %}"></script>
        <script src="{% static 'vendors/datetime-picker/js/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
        <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        
        <script src="{% static 'js/theme.js' %}"></script>
    </body>

</html>